<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><img src="/assets/img/slider/dssama-logo-0.png" width="45px" height="45px"> DSSAMA</h3>
        <p>
          <a href="/solutions.html"> {{ site.data.translate_footer['SOLUTIONS'][page.lang] }} </a>
        </p>
        <p>
          <a href="/platform.html"> {{ site.data.translate_footer['AI_EXPERTS'][page.lang] }} </a>
        </p>
        <p><a href="/platform.html"> {{ site.data.translate_footer['PLATFORM'][page.lang] }} </a></p>
        <p>
          {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
          {% if posts.size == 0 %}
          {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
          {% endif %}
          {% for post in posts %}
          <span>
            {% if page.lang == post.lang %}
            <a href="{{ site.base-url }}{{ post.url }}" title="{{ site.data.languages[post.lang].label }}">
              <img class="active-language" src="/assets/img/slider/{{ post.lang }}.png" width="38px" height="28px"
                style="margin-right: 3px;">
            </a>
            {% else %}
            <a href="{{ site.base-url }}{{ post.url }}" title="{{ site.data.languages[post.lang].label }}">
              <img class="not-active-language" src="/assets/img/slider/{{ post.lang }}.png" width="38px" height="28px"
                style="margin-right: 3px;">
            </a>
            {% endif %}
          </span>
          {% endfor %}
        </p>

      </div>
      <div class="col-md-4">
        <h3> {{ site.data.translate_footer['CONTACT'][page.lang] }}:</h3>
        <p class="footer-contact">
          <i class="fa fa-map-marker"></i> {{ site.data.translate_footer['HEAD_OFFICE'][page.lang] }} <br>
          <i class="fa fa-map-marker"></i> {{ site.data.translate_footer['TOKYO_OFFICE'][page.lang] }} <br>
          <i class="fa fa-envelope-o"></i> {{ site.data.translate_footer['EMAIL'][page.lang] }} <br>
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-facebook"></i> Facebook</h3>
        <!-- <div id="social-icons">
          {% if site.facebook_link %}
          <a href="{{ site.facebook_link }}" class="btn-group facebook">
            <i class="fa fa-facebook"></i>
          </a>
          {% endif %}
        </div> -->
        <div style="height: 200px;">
          <div id="fb-root"></div>
          <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v4.0"></script>
          <div class="fb-page" data-href="https://www.facebook.com/dssama.vn/" data-tabs="timeline" data-width=""
            data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
            data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/dssama.vn/" class="fb-xfbml-parse-ignore"><a
                href="https://www.facebook.com/dssama.vn/">Dssama</a></blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, <a href="#">DSSAMA 2019</a></p>
  </div>
</footer>