<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand wow fadeInDownBig" href="{{ site.data.links['HOME_PAGE'][page.lang] }}"><img
          class="office-logo" src="../assets/img/slider/dssama-logo-2.png" alt="Office"
          style="width: 307px; height: 50px;"></a>
    </div>

    <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav pull-right">
        <!-- set class avtive for page -->
        {% if site.data.links['HOME_PAGE'][page.lang] == page.url %}
        <li class="active">
          <a
            href="{{ site.data.links['HOME_PAGE'][page.lang] }}">{{ site.data.translate_header['HOME'][page.lang] }}</a>
        </li>
        <li>
          <a
            href="{{ site.data.links['SOLUTIONS_PAGE'][page.lang] }}">{{ site.data.translate_header['SOLUTIONS'][page.lang] }}</a>
        </li>
        <li>
          <a href="https://aiacademy.vn/">{{ site.data.translate_header['AI_EXPERTS'][page.lang] }}</a>
        </li>
        <li>
          <a
            href="{{ site.data.links['PLATFORM_PAGE'][page.lang] }}">{{ site.data.translate_header['PLATFORM'][page.lang] }}</a>
        </li>
        {% elsif site.data.links['SOLUTIONS_PAGE'][page.lang] == page.url  %}
        <li>
          <a
            href="{{ site.data.links['HOME_PAGE'][page.lang] }}">{{ site.data.translate_header['HOME'][page.lang] }}</a>
        </li>
        <li class="active">
          <a
            href="{{ site.data.links['SOLUTIONS_PAGE'][page.lang] }}">{{ site.data.translate_header['SOLUTIONS'][page.lang] }}</a>
        </li>
        <li>
          <a href="https://aiacademy.vn/">{{ site.data.translate_header['AI_EXPERTS'][page.lang] }}</a>
        </li>
        <li>
          <a
            href="{{ site.data.links['PLATFORM_PAGE'][page.lang] }}">{{ site.data.translate_header['PLATFORM'][page.lang] }}</a>
        </li>
        {% elsif site.data.links['PLATFORM_PAGE'][page.lang] == page.url  %}
        <li>
          <a
            href="{{ site.data.links['HOME_PAGE'][page.lang] }}">{{ site.data.translate_header['HOME'][page.lang] }}</a>
        </li>
        <li>
          <a
            href="{{ site.data.links['SOLUTIONS_PAGE'][page.lang] }}">{{ site.data.translate_header['SOLUTIONS'][page.lang] }}</a>
        </li>
        <li>
          <a href="https://aiacademy.vn/">{{ site.data.translate_header['AI_EXPERTS'][page.lang] }}</a>
        </li>
        <li class="active">
          <a
            href="{{ site.data.links['PLATFORM_PAGE'][page.lang] }}">{{ site.data.translate_header['PLATFORM'][page.lang] }}</a>
        </li>
        {% endif %}
        <li>
          <div style="padding-top: 12px; margin-left: 20px;">
            {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
            {% if posts.size == 0 %}
            {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
            {% endif %}
            {% for post in posts %}
            <span>
              {% if page.lang == post.lang %}
              <a href="{{ site.base-url }}{{ post.url }}" title="{{ site.data.languages[post.lang].label }}">
                <img class="active-language" src="/assets/img/slider/{{ post.lang }}.png" width="38px" height="28px"
                  style="margin-right: 3px;">
              </a>
              {% else %}
              <a href="{{ site.base-url }}{{ post.url }}" title="{{ site.data.languages[post.lang].label }}">
                <img class="not-active-language" src="/assets/img/slider/{{ post.lang }}.png" width="38px" height="28px"
                  style="margin-right: 3px;">
              </a>
              {% endif %}
            </span>
            {% endfor %}
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- End Header -->

<style>
  .active-language {
    padding: 2px;
    background-color: rgb(158, 233, 47);
  }

  .not-active-language {
    padding: 7px;
  }
</style>