<!doctype html>
<html lang="{{page.lang}}">

{% include head.html %}
{% include header.html %}
{% include script.html %}

<body>
  <!-- Main Container -->
  <div id="banners"></div>
  <div class="container" style="background-color: white;">
    <div class="services-header" style="width: 50%; margin: auto; text-align: center;">
      <h3 style="font-weight: 600; font-size: 40px;">{{ site.data.translate_platform['PLATFORM_TITLE'][page.lang] }}</h3>
    </div>
    <br>
    <div class="content-page-container">
      <h3>{{ site.data.translate_platform['PLATFORM_WHAT_IS'][page.lang] }}</h3>
      <br>
      <p style="margin-left: 50px;" class="text-container">
        {{ site.data.translate_platform['PLATFORM_WHAT_IS_CONTENT'][page.lang] }}
      </p>
      <br>
      <div
        style="width: 25%; margin: auto; height: 45px; display: flex; align-items: center; justify-content: center; background-color: rgb(51, 133, 216);">
        <a style="color: white; " href="https://dashboard.dssama.com/">Sử dụng DSSAMA miễn phí</a>
      </div>
      <br>
      <h3>Lý do bạn nên chọn DSSAMA platform</h3>
      <br>
      <ul>
        <li>
          <span class="icon-container">
            <i class="fa fa-bolt fa-2x"></i>
          </span>
          <strong>Nhanh chóng:</strong>
          Cho phép thử nghiệm nhanh các giải pháp về AI, trực tiếp trên dữ
          liệu của bạn.
        </li>
        <li>
          <span class="icon-container">
            <i class="fa fa-cube fa-2x"></i>
          </span>
          <strong>Trực quan:</strong>
          Chỉ với các thao tác kết nối dữ liệu, lựa chọn các công cụ AI, bạn
          đã có thể đưa ra một giải pháp cho
          bài toán của mình.
        </li>
        <li>
          <span class="icon-container">
            <i class="fa fa-handshake-o fa-2x"></i>
          </span>
          <strong>Cộng tác:</strong>
          Nền tảng hỗ trợ làm việc cộng tác trên môi trường điện toán
          đám mây, kết nối bạn tới các chuyên gia về
          AI giúp giải quyết bài toán của bạn.
        </li>
        <li>
          <span class="icon-container">
            <i class="fa fa-lock fa-2x"></i>
          </span>
          <strong>Bảo mật:</strong>
          Bạn không cần phải đem dữ liệu ra khỏi tổ chức của mình, bạn vẫn có
          thể thực hiện dự án tại bất cứ đâu
          với sự hỗ trợ của bất cứ ai.
        </li>
      </ul>
    </div>
  </div>
  <!--End Main Container -->

  <style>
    .text-container {
      text-align: justify;
      text-justify: inter-word;
    }

    .icon-container {
      text-align: center;
      width: 45px;
      display: inline-block;
    }

    .content-page-container {
      margin-left: 100px;
      margin-right: 100px;
    }
  </style>
</body>

{% include footer.html %}

</html>