<!doctype html>
<html lang="{{page.lang}}">

{% include head.html %}
{% include header.html %}
{% include script.html %}

<body>
  <!-- Main Container -->
  <div id="banners"></div>
  <div class="container" style="background-color: white;">
    <div class="services-header" style="width: 50%; margin: auto; text-align: center;">
      <h3 style="font-weight: 600; font-size: 40px;">{{ site.data.translate_platform['PLATFORM_TITLE'][page.lang] }}
      </h3>
    </div>
    <br>
    <div class="content-page-container">
      <h3>{{ site.data.translate_platform['PLATFORM_WHAT_IS'][page.lang] }}</h3>
      <br>
      <p style="margin-left: 50px;" class="text-container">
        {{ site.data.translate_platform['PLATFORM_WHAT_IS_CONTENT'][page.lang] }}
      </p>
      <br>
      <div
        style="width: 25%; margin: auto; padding: 5px; display: flex; align-items: center; justify-content: center; background-color: rgb(51, 133, 216);">
        <a style="color: white; "
          href="https://dashboard.dssama.com/">{{ site.data.translate_platform['BUTTON_NAVIGATE_DSSAMA_DASHBOARD_NAME'][page.lang] }}</a>
      </div>
      <br>
      <h3>{{ site.data.translate_platform['PLATFORM_WHY'][page.lang] }}</h3>
      <br>
      <ul>
        <li>
          <span class="icon-container">
            <i class="fa fa-bolt fa-2x"></i>
          </span>
          <strong>{{ site.data.translate_platform['PLATFORM_WHY_1_TITLE'][page.lang] }}:</strong>
          {{ site.data.translate_platform['PLATFORM_WHY_1_CONTENT'][page.lang] }}
        </li>
        <li>
          <span class="icon-container">
            <i class="fa fa-cube fa-2x"></i>
          </span>
          <strong>{{ site.data.translate_platform['PLATFORM_WHY_2_TITLE'][page.lang] }}:</strong>
          {{ site.data.translate_platform['PLATFORM_WHY_2_CONTENT'][page.lang] }}
        </li>
        <li>
          <span class="icon-container">
            <i class="fa fa-handshake-o fa-2x"></i>
          </span>
          <strong>{{ site.data.translate_platform['PLATFORM_WHY_3_TITLE'][page.lang] }}:</strong>
          {{ site.data.translate_platform['PLATFORM_WHY_3_CONTENT'][page.lang] }}
        </li>
        <li>
          <span class="icon-container">
            <i class="fa fa-lock fa-2x"></i>
          </span>
          <strong>{{ site.data.translate_platform['PLATFORM_WHY_4_TITLE'][page.lang] }}:</strong>
          {{ site.data.translate_platform['PLATFORM_WHY_4_CONTENT'][page.lang] }}
        </li>
      </ul>
    </div>
  </div>
  <!--End Main Container -->

  <style>
    .text-container {
      text-align: justify;
      text-justify: inter-word;
    }

    .icon-container {
      text-align: center;
      width: 45px;
      display: inline-block;
    }

    .content-page-container {
      @media screen and (min-width: 769px) {
        margin-left: 100px;
        margin-right: 100px;
      }

      @media screen and (max-width: 768px) {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  </style>
</body>

{% include footer.html %}

</html>