<!doctype html>
<html lang="{{page.lang}}">

{% include head.html %}
{% include header.html %}
{% include script.html %}

<body>
  <!-- Main Container -->
  <div id="banners"></div>
  <div class="container" style="background-color: white;">
    <div class="services-header" style="width: 50%; margin: auto; text-align: center;">
      <h3 style="font-weight: 600; font-size: 40px;">Solutions</h3>
      <h3>We provide industry solution to get value from your enterprise data</h3>
    </div>
    <br>
    <div class="content-page-container">

      <div class="row-solution-container">
        <h3 class="solution-title">Social Network Analysis</h3>
        <div class="text-image-container">
          <div class="left">
            <img src="/assets/img/solutions/solutions-1.jpg">
          </div>
          <div class="text-container right">
            <p>We analyse social network data of million nodes for many high-level applications such as enriching
              personal
              data, eliminating bots, identifying influencers, relationship modeling, person data representation and
              classification. The social network data is either investigated with graph theory and machine learning
              techniques in order to extract meaningful information before feeding into on-top applications.</p>
          </div>
        </div>
      </div>

      <div class="row-solution-container">
        <h3 class="solution-title">Healthcare Data Analysis</h3>
        <div class="text-image-container">
          <div class="left">
            <img src="/assets/img/solutions/solutions-2.jpg">
          </div>
          <div class="text-container right">
            <p>Having requested from customers, we analyse personal health care data to predict people with lifestyle
              related disease. We solve issues of missing and imbalanced data, extract features using statistical
              methods
              and train the system to predict some types of lifestyle related disease.</p>
          </div>
        </div>
      </div>

      <div style="height: 250px;">
        <h3 class="solution-title">Remote Sensing Data Analysis</h3>
        <div style="margin: 30px 0px;">
          <div class="text-container">
            <p>In remote sensing data analysis and computer vision, aerial image segmentation is a crucial research
              topic,
              which has many applications in environmental and urban planning. Recently, deep learning is using to
              tackle
              many computer vision problem, including aerial image segmentation. Results have shown that deep learning
              gains
              much higher accuracy than other methods on many benchmark data sets. In this work, we propose a neural
              network
              called NASNet-FCN, which based on Fully Convolutional Network – a frame work for solving semantic
              segmentation
              problem and image feature extractor derived from state-of-the-art object recognition network called Neural
              Search Network Architecture.</p>
          </div>
        </div>
      </div>
      <div class="row-solution-container">
        <h3 class="solution-title">OIL Data Analysis</h3>
        <div class="text-image-container">
          <div class="left">
            <img src="/assets/img/solutions/solutions-3.jpg">
          </div>
          <div class="text-container right">
            <p>We provide our customer solution to analyse well log data of the Mioxen object to predict future
              industrial
              oil with the age of the below Mioxen. This will help to carry out the assessment of reserves and prepare
              the
              plan for future operation. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Main Container -->

  <style>
    .content-page-container {
      margin-left: 120px;
      margin-right: 120px;
    }

    .row-solution-container {
      margin: 10px 0px;
      clear: both;
      height: 300px;
    }

    .text-image-container {
      margin: 30px 0px;
    }

    .text-container {
      text-align: justify;
      text-justify: inter-word;
    }

    .left {
      width: 30%;
      float: left;
    }

    .right {
      width: 70%;
      float: right;
      padding: 5px 30px;
    }

    .solution-title {
      font-weight: 600;
    }
  </style>
</body>

{% include footer.html %}

</html>